<h1>Choose Shape</h1>
<ul>
    <li><a href="/Draw/Line">   Line</a></li>
    <li><a href="/Draw/Circle"> Circle</a></li>
    <li><a href="/Draw/Ellipse">Ellipse</a></li>
</ul>

<h1>Choose Transformation</h1>
<ul>
    <li><a href="/Transformations/Translation">Translation</a></li>
    <li><a href="/Transformations/Scaling"> Scaling</a></li>
    <li><a href="/Transformations/Rotation">Rotation</a></li>
</ul>