@inject IShapeList ShapeList
@inject NumberOfShapesState NumberOfShapesState

<h4>Draw Board</h4>
<div class="d-flex align-items-center justify-content-center">
    <div class="board board-big border">
        @foreach (var s in ShapeList.Shapes)
        {
            <img src="@(s.ImgSrc ?? "/assets/imgs/grid-line.png")">
        }
        <img src="/assets/imgs/grid-line.png">
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        NumberOfShapesState.OnChange += StateHasChanged;

    }
    public void Dispose()
    {
        NumberOfShapesState.OnChange -= StateHasChanged;
    }
}