@inherits LayoutComponentBase 
@inject IShapeList ShapeList
@inject NumberOfShapesState NumberOfShapesState

<div class="container-fluid">
     
    <div class="row p-2">
        <div class="col-2">
            <div class="d-grid gap-1">
                <NavLink class="btn btn-outline-primary" 
                         href="/Draw/Line" 
                         ActiveClass="btn-primary text-white" 
                         Match="NavLinkMatch.Prefix"> Draw Line 
                </NavLink> 
                <NavLink
                    class="btn btn-outline-primary"
                    href="/Draw/Circle"
                    ActiveClass="btn-primary text-white"
                    Match="NavLinkMatch.Prefix">
                    Draw Circle
                </NavLink>
                <NavLink
                    class="btn btn-outline-primary"
                    href="/Draw/Ellipse"
                    ActiveClass="btn-primary text-white"
                    Match="NavLinkMatch.Prefix">
                    Draw Ellipse
                </NavLink>
                <button class="btn btn-outline-danger"
                        onclick="@(new Action<object>( async e =>
                                 {
                                     ShapeList.Clear();
                                     ImageHelper.DeleteAllGeneratedShapes();
                                     await InvokeAsync(NumberOfShapesState.NotifyStateChanged);
                                 }))"
                >Clear All</button>
            </div> 
        </div>
        <div class="col">
            @Body
            <br>
            <DrawBoard ></DrawBoard>
            <br>
            <ShapesInfo ></ShapesInfo>
        </div> 
        
        
    </div>
</div>
